* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: sans-serif;
}

#modal-app {
    position: relative;
    display: none;
}

#modal-app.active {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.modal-wrapper {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    text-align: center;
}


.modal-backdrop {
    background: rgba(0,0,0, .67);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.modal-backdrop:hover {
    cursor: pointer;
}

.modal-title {
    margin: 0;
}

.modal-cta {
    text-decoration: none;
    background-color: cornflowerblue;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}

.modal-cta.cancel {
    background-color: grey
}